/*Struttura*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
#wrapper{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: white;
}

nav{
    height: calc(100vh - 100px);
    width: 50px;
    background-color: black;
    position: absolute;
    overflow: hidden;
}
main{
    width: calc(100% - 50px);
    height: calc(100vh - 200px);
    background-color: rgba(18,18,18,0.9);    
    float: right;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 15px;
}
section{
    width: calc(100% - 30px);
    min-height: 100px;
    background-color: rgba(18,18,18,1);
    float: right;
}
footer{
    min-width: 100%;
    min-height: 100px;
    background-color: rgb(24,24,24);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
span{
    font-size: 10px;
    color: grey;
}
p{
    font-size: 14px;
    color: grey;
}
/*NAV LATERALE MENU*/

.nav.top{
    height: calc(100% - 80px);
    min-height: 80vh;
}
.nav.bot{
    height: 80px;
}
.icon{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.nav.top .icon img{
    height: 30px;
}
.nav.bot .icon:nth-of-type(1) img{
    height: 15px;
}

.nav.bot .icon:nth-of-type(2) img{
    width: 25px;
    height: 25px;
    background-color: grey;
    color:white;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 15px;
}
.logo .icon{
    margin: 15px 0;
}

/*Sezione scomparse*/
.logo .icon img:nth-of-type(2){
    display: none;
}
.icon h5{
    display: none;
}
.icon p{
    display: none;
}
.playlist{
    display: none;
}
.nav.bot hr{
    display: none;
}

/*PULSANTE UPGRADE SECTION*/

.button{
    text-transform: uppercase;
    border: 2px solid white ;
    border-radius: 20px;
    padding: 10px 30px;
    position: absolute;
    top: 30px;
    right: 20px;
}

/*SEZIONE BOX CANZONI MAIN*/

/*Quel finto nav sopra le canzoni*/
.mainnav{
    min-height: 100px;
    line-height: 50px;
    text-align: center;
}
.mainnav > div{
    display: inline-block;
    position: relative;
}
.mainnav > div:before{
    content : "";
    position: absolute;
    left: 27px;
    bottom: 5px;
    height: 1px;
    width: 40px;
    border-bottom:1px solid greenyellow;
}
.mainnav h5{
    display: inline-block;
    margin-right: 30px;
    color: grey;
    text-transform: uppercase;
}


/*Container grosso grosso canzoni*/


.row:nth-of-type(2), .row:nth-of-type(3){
    margin-top: 2.5vh;
}
.row:nth-of-type(3){
    margin-bottom: 50px;
}
.row{
    margin-top: 25px;
}
.grid{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 15px;
}
.songbox{
    text-align: center;
    width: 46%;
    margin-top: 15px;
    margin-right: 2%;
}
.playwrapper{
    position: relative;
}
.songbox > h4{
    opacity: 0.8;
    margin: 10px 0;
}
.songbox  img{
    width: 100%;
    height: auto;
}

.row:nth-of-type(3) .songbox > img{
    border-radius: 50%;
}




/*BARRA FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Cover nome e icone della barra musica*/
.foot.left{
    display: flex;
    align-items: center;
    width: 25%;
}

.foot.left .coversong > img{
    height: 40px;
    margin: 0 5px;
}
.songinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.songinfo h5{
    opacity: 0.7;
}
.songicon{
    margin: 0 20px;
    color: grey;
}

.foot.left span{
    font-size: 12px;
}

/*Riproduttore*/

.foot.mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100px;
}
.playerbuttons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 45%;
}
.playerbuttons ul li{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
}
.playerbuttons ul li i.far.fa-play-circle{
    font-size: 30px;
}

.progressbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;
}
.progressbar span{
    color: white;
}

.fullbar{
    background-color: rgba(83,83,83, 0.2);
    width: 60%;
    height: 5px;
    border-radius: 20px;
    margin: 0 5px;
}
.currentbar{
    width: 30%;
    background-color: rgba(83,83,83, 0.9);
    height: 5px;
    border-radius: 20px;
    position: relative;

}

/*Volume ed icone*/

.foot.right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}
.foot.right i{
    font-size: 15px;
    margin-right: 12px;
}
.volbar{
    background-color: rgba(83,83,83, 0.2);
    width: 100px;
    height: 5px;
    align-self: center;
    margin-right: 5px;
}


/*SEZIONE HOVER*/
.nav img{
    cursor: pointer;
}
.playwrapper i.far.fa-play-circle{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    display: none;
    cursor: pointer;
}
.songbox:hover  img{
    opacity: 0.5;
    cursor: pointer;
}
.songbox:hover i.far.fa-play-circle{
    display: inline-block;
}
.songbox p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.songbox h4:hover{
    cursor: pointer;
    opacity: 1;
} 

nav p:hover, nav span:hover{
    color: white;
    cursor: pointer;
}

footer p:hover, .foot.left span:hover{
    color: white;
    cursor: pointer;
}
footer i:hover{
    cursor: pointer;
}
.mainnav h5:hover{
    color: white;
    cursor: pointer;
}
.playlist .icon:hover a{
    background-color: white;
}
.playlist .icon:hover  p{
    color: white;
}
.button{
    transition: all 1ms;
    cursor: pointer;
}
.button:hover{
    transform: scale(1.1);
}
.songinfo span:hover{
    text-decoration: underline;
}
.songinfo h5:hover{
    opacity: 1;
    cursor: pointer;
}
.songicon i:hover{
    color: white;
    cursor: pointer;
}
.pointbar{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
}
.fullbar:hover .pointbar{
    display: block;
}
.fullbar:hover .currentbar{
    background-color: seagreen;
}
.volbar:hover .pointbar{
    display: block;
}
.volbar:hover .currentbar{
    background-color: seagreen;
}
.playerbuttons .fas.fa-play-circle{
    transition: all 1ms;
}
.playerbuttons .far.fa-play-circle:hover{
    transform: scale(1.2);
}    



























/*Inizio mediaquery*/

@media (min-width: 577px) {
    
    /*Cambi di struttura*/  

    nav{
        width: 200px;
        padding-left: 15px;
    }
    main{
        width: calc(100% - 200px);
    }
    section{
        width: calc(100% - 200px);

    }
    /*Cambi nel nav*/

    .icon{
        justify-content: flex-start;
        align-items: center;
    }
    .logo{
        margin-bottom: 20px;
    }

    .playlist > h3{
        margin-bottom: 10px;
    }

    .icon a{
        padding: 6px 9px;
        background-color: grey;
        color: black;
        margin-right: 5px;
    }

    .playlist > p{
        margin: 15px 0;
    }
    .nav.bot .icon  img{
        margin-right: 10px;
    }
    .nav.bot hr{
        display: block;
        background-color: grey;
        border-color: grey;
        width: 90%;
    }
    .basics .icon:nth-of-type(1){
        position: relative
    }
    .basics .icon:nth-of-type(1):before{
        content : "";
        position: absolute;
        left: -15px;
        bottom: -1px;
        height: 30px;
        width: 1px;
        border-left:2px solid seagreen;
    }




    
    /*Sezione comparse*/
    .logo .icon img:nth-of-type(1){
        display: none;
    }
    .logo .icon img:nth-of-type(2){
        display: inline-block;
        height: 40px;
        vertical-align: text-top;
    }
    .icon h5{
        display: block;
    }
    .icon p{
        display: block;
    }
    .playlist{
        display: block;
        margin-top: 15px;
    }
}

@media (min-width: 778px) {
    .songbox{
        max-width:20%;
    }
    .songicon i{
        margin-left: 10px;
    }
}

@media (min-width: 1024px) {
    
    .songbox{
        max-width: 13%
    }

    

}