*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header{
    height: 90%;
    width: 50px;
    background-color: black;
    position: absolute;
}
main{
    width: 100vw;
    height: 80%;
    background-color: green;
    overflow-y: auto;
}
section{
    width: 95%;
    height: 10%;
    background-color: yellow;
    float: right;
}
footer{
    width: 100%;
    height: 10%;
    background-color: blue;
    position: fixed;
}

@media screen and (min-width: 577px) {
        
    header{
        width: 200px;
    }
    
}

