/*Struttura*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header{
    min-height: 92vh;
    width: 30px;
    background-color: black;
    position: absolute;
    color: white;
}
main{
    width: calc(100% - 30px);
    height: 100%;
    background-color: green;
    float: right;
    overflow-y: auto;
}
section{
    width: 95%;
    min-height: 100px;
    background-color: yellow;
    float: right;
}
footer{
    min-width: 100vw;
    min-height: 100px;
    background-color: blue;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}

/*Barra laterale navigazione*/

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
}

.icon{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.icon img{
    height: 20px;
}

.logo .icon{
    margin: 8px 0;
}

.icon a{
    padding: 6px;
    background-color: grey;
    color: black;
}










.logo .icon h1{
    display: none;
}
.icon span{
    display: none;
}
.playlist{
    display: none;
}
.nav.bot hr{
    display: none;
}



























/*Inizio mediaquery*/
@media screen and (min-width: 577px) {
        
    header{
        width: 150px;
    }
    
    main{
    width: calc(100% - 150px);
    }

    nav{
        margin-left: 15px;
    }
    
    .icon{
        display: flex;
        justify-content: flex-start;
    }
    
    .logo .icon h1{
        display: block;
    }
    
    .icon span{
        display: block;
    }

    .playlist{
        display: block;
    }

    .nav.bot hr{
        display: block;
    }
    
}